<?xml version="1.0" encoding="UTF-8"?>
<!-- <robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)"> -->
<robot name="fr3" xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:arg name="name" default="fr3"/>

    <xacro:arg name="prefix" default="" />

    <xacro:include filename="$(find gazebo_exam)/srdf/fr3_macro.srdf.xacro"/>

    <xacro:fr3_srdf name="$(arg name)" prefix="$(arg prefix)"/>

    <xacro:include filename="$(find gazebo_exam)/srdf/franka_hand_macro.srdf.xacro"/>
    <xacro:franka_hand_srdf name="$(arg name)" prefix="$(arg prefix)" />

</robot>
